components/sbm-recipes-mule-to-boot/src/main/xsd/mule/mule-http.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2021 - 2022 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/http"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/http"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="./mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/tcp"
                schemaLocation="./mule-tcp.xsd"/>
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "./mule-schemadoc.xsd"/>

    <!--
    We include all the elements defined in the schema of the new HTTP connector into this namespace.
    -->
    <xsd:include schemaLocation="./mule-httpn.xsd" />

    <xsd:annotation>
        <xsd:documentation>The HTTP transport provides support for exposing services over HTTP and making HTTP client requests from Mule services to external services as part of service event flows. Mule supports inbound, outbound, and polling HTTP endpooints. These endpoints support all common features of the HTTP spec, such as ETag processing, cookies, and keepalive. Both HTTP 1.0 and 1.1 are supported.</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>HTTP</schemadoc:short-name>
            <schemadoc:page-title>HTTP Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="true">
                <schemadoc:MEPs supported="one-way, request-response" default="request-response"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="httpConnectorType" substitutionGroup="mule:abstract-shared-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to communicate over HTTP. All parts of the HTTP spec are covered by Mule, so you can expect ETags to be honored as well as keep alive semantics and cookies.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="polling-connector" type="httpPollingConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to poll an external HTTP server and generate events from the result. This is useful for pull-only web services.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <!-- NOTE - it's not very easy to work out what parameters inherited from TCP are actually
         used.  But it appears that the client parameters are used to set the HttpConnectionManager
         while the server parameters are used directly (the server socket appears to come from
         the underlying TcpConnector). -->

    <xsd:complexType name="httpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="tcp:noProtocolTcpConnectorType">
                <xsd:attribute name="cookieSpec">
                    <xsd:annotation>
                        <xsd:documentation>
                            The cookie specification to be used by this connector when cookies are enabled.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="netscape"/>
                            <xsd:enumeration value="rfc2109"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="proxyHostname" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The proxy host name or address.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="proxyPassword" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The password to use for proxy access.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="proxyPort" type="mule:substitutablePortNumber">
                    <xsd:annotation>
                        <xsd:documentation>
                            The proxy port number.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="proxyUsername" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The username to use for proxy access.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="proxyNtlmAuthentication" type="mule:substitutableBoolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Whether the proxy authentication scheme is NTLM or not. This property is required in order to use the right credentials under that scheme. Default is false</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="enableCookies" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to support cookies.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="httpPollingConnectorType">
        <xsd:complexContent>
            <xsd:extension base="httpConnectorType">
                <xsd:attribute name="pollingFrequency" type="mule:substitutableLong">
                    <xsd:annotation>
                        <xsd:documentation>The time in milliseconds to wait between each request to the remote HTTP server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="checkEtag" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>Whether the ETag header from the remote server is processed if the header is present.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="discardEmptyContent" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>Whether Mule should discard any messages from the remote server that have a zero content length. For many services a zero length would mean there was no data to return. If the remote HTTP server does return content to say that that the request is empty, users can configure a content filter on the endpoint to filter these messages out.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="rest-service-component" type="restServiceWrapperType"
                 substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                Built-in RestServiceWrapper can be used to proxy REST style services as local Mule components.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="restServiceWrapperType">
        <xsd:complexContent>
            <xsd:extension base="mule:defaultComponentType">
                <xsd:sequence>
                    <xsd:element name="error-filter" maxOccurs="1" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>An error filter can be used to detect whether the response from the remote service resulted in an error.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="mule:abstract-filter" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="payloadParameterName" type="mule:valueType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>If the payload of the message is to be attached as a URL parameter, this should be set to the parameter name. If the message payload is an array of objects that multiple parameters can be set to, use each element in the array.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requiredParameter" type="mule:keyValueType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>These are parameters that must be available on the current message for the request to be successful. The Key maps to the parameter name, the value can be any one of the valid expressions supported by Mule.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="optionalParameter" type="mule:keyValueType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>These are parameters that if they are on the current message will be added to the request, otherwise they will be ignored. The Key maps to the parameter name, the value can be any one of the valid expressions supported by Mule.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="httpMethod" default="GET" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>The HTTP method to use when making the service request.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="DELETE"/>
                            <xsd:enumeration value="GET"/>
                            <xsd:enumeration value="POST"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="serviceUrl" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The service URL to use when making the request. This should not contain any parameters, since these should be configured on the component. The service URL can contain Mule expressions, so the URL can be dynamic for each message request.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- TODO MULE-3439: this should be renamed to http-response-to-message -->
    <xsd:element name="http-response-to-object-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>A transformer that converts an HTTP response to a Mule Message. The payload may be a String, stream, or byte array.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="http-response-to-string-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>Converts an HTTP response payload into a string. The headers of the response will be preserved on the message.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!-- TODO: MULE-3440 rename to object-to-http-request-transformer -->
    <xsd:element name="object-to-http-request-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                This transformer will create a valid HTTP request using the current message and any HTTP headers set on the current message.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="message-to-http-response-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                This transformer will create a valid HTTP response using the current message and any HTTP headers set on the current message.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="body-to-parameter-map-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                This transformer parses the body of a HTTP request into a Map.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:element name="basic-security-filter" type="basicSecurityFilterType" substitutionGroup="mule:abstract-security-filter">
        <xsd:annotation>
            <xsd:documentation>
                Authenticate users via Basic authorization using standard HTTP headers.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="basicSecurityFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractSecurityFilterType">
                <xsd:attribute name="realm" type="xsd:string" use="required"/>
                <xsd:attribute name="securityProviders" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The delegate-security-provider to use for authenticating. Use this element
                            in case you have multiple security managers defined in your configuration.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
            An inbound HTTP endpoint exposes a service over HTTP, essentially making it an HTTP server. If polling of a remote HTTP service is required, this endpoint should be configured with a polling HTTP connector.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType"
                 substitutionGroup="mule:abstract-outbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The HTTP outbound endpoint allows Mule to send requests to external servers or Mule inbound HTTP endpoints using the HTTP protocol.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
                <xsd:attribute name="followRedirects" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            If a request is made using GET that responds with a redirectLocation header, setting this to true will
                            make the request on the redirect URL.  This only works when using GET since you cannot automatically follow
                            redirects when perfroming a POST (a restriction according to RFC 2616).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="exceptionOnMessageError" type="xsd:boolean" default="true">
                    <xsd:annotation>
                        <xsd:documentation>
                            If a request returns a status code greater or equal than 400 an exception will be thrown.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                Configures a 'global' HTTP endpoint that can be referenced by services. Services can augment the configuration defined in the global endpoint with local configuration elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
                <xsd:attribute name="followRedirects" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            If a request is made using GET that responds with a redirectLocation header, setting this to true will
                            make the request on the redirect URL.  This only works when using GET since you cannot automatically follow
                            redirects when perfroming a POST (a restriction according to RFC 2616).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="exceptionOnMessageError" type="xsd:boolean" default="true">
                    <xsd:annotation>
                        <xsd:documentation>
                            If a request returns a status code greater or equal than 400 an exception will be thrown.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="user" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The user name (if any) that will be used to authenticate against.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The password for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="host" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The host to connect to. For inbound endpoints, this should be an address of a local network interface.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="mule:substitutablePortNumber">
            <xsd:annotation>
                <xsd:documentation>The port number to use when a connection is made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="path" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The path for the HTTP URL. It must not start with a slash.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="propertyAttributes">
        <!-- maybe we mant a more general mechanism, perhaps an element for header values? -->
        <xsd:attribute name="contentType" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The HTTP ContentType to use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="method" type="httpMethodTypes">
            <xsd:annotation>
                <xsd:documentation>The HTTP method to use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
<!--        <xsd:attribute name="keep-alive" type="mule:substitutableBoolean">-->
<!--            <xsd:annotation>-->
<!--                <xsd:documentation>DEPRECATED: Use keepAlive attribute instead.</xsd:documentation>-->
<!--            </xsd:annotation>-->
<!--        </xsd:attribute>-->
        <xsd:attribute name="keepAlive" type="mule:substitutableBoolean">
            <xsd:annotation>
                <xsd:documentation>Controls if the connection is kept alive.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:simpleType name="httpMethodTypes">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="OPTIONS"/>
            <xsd:enumeration value="GET"/>
            <xsd:enumeration value="HEAD"/>
            <xsd:enumeration value="PATCH"/>
            <xsd:enumeration value="POST"/>
            <xsd:enumeration value="PUT"/>
            <xsd:enumeration value="TRACE"/>
            <xsd:enumeration value="CONNECT"/>
            <xsd:enumeration value="DELETE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="request-wildcard-filter" type="mule:wildcardFilterType"
                 substitutionGroup="mule:abstract-filter">
        <xsd:annotation>
            <xsd:documentation>
                (As of 2.2.2) The request-wildcard-filter element can be used to restrict the request by applying wildcard expressions to the URL.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="static-resource-handler" type="staticResourceHandlerType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Serves up static content for use with http. (Since Mule 3.2)
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="staticResourceHandlerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="resourceBase" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The resource base for where documents are served up from.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="defaultFile" type="xsd:string" use="optional" default="index.html">
                    <xsd:annotation>
                        <xsd:documentation>
                            The default file to sever when a directory is specified. The default value is 'index.html'.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

     <xsd:complexType name="headerType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
               <xsd:attribute name="value" type="xsd:string" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="cookieType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:attribute name="name" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates the name of the cookie.It supports expressions
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="value" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates the value of the cookie. It supports expressions.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="domain" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates the domain scope of the cookie. It supports expressions.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="path" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates the path scope of the cookie. It supports expressions.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="expiryDate" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates the exact date/time when the cookie expires. It must be specified in the form "Wdy, DD Mon YYYY HH:MM:SS GMT".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxAge" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates, in seconds, the max age of the cookie.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="secure" type="mule:substitutableBoolean" use="optional" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            A boolean to specify that the cookie communication should be limited to encrypted transmission. It's fault by default.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="version" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                             Sets the version of the cookie specification to which this cookie conforms.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="cacheControlType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:attribute name="directive">
                    <xsd:simpleType>
                        <xsd:union>
                            <xsd:simpleType>
                                <xsd:restriction base="mule:substitutableInt"/>
                            </xsd:simpleType>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:NMTOKEN">
                                    <xsd:enumeration value="public">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Indicates that the response MAY be cached by any cache.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:enumeration>
                                    <xsd:enumeration value="private">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Indicates that all or part of the response message is intended for a single user and MUST NOT be cached by a shared cache.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:enumeration>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:union>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="noCache" type="mule:substitutableBoolean" use="optional" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies that a cache MUST NOT use the response to satisfy a subsequent request without successful revalidation with the origin server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="noStore" type="mule:substitutableBoolean" use="optional" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            The purpose of the no-store directive is to prevent the inadvertent release or retention of sensitive information.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="mustRevalidate" type="mule:substitutableBoolean" use="optional" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                             When the must-revalidate directive is present in a response received by a cache, that cache MUST NOT use the entry after it becomes stale to respond to a subsequent request without first revalidating it with the origin server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxAge" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            When the max-age cache-control directive is present in a cached response, the response is stale if its current age is greater than the age value given. If a response includes both an Expires header and a max-age directive, the max-age directive overrides the Expires header, even if the Expires header is more restrictive.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:simpleType name="statusType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="mule:substitutableInt">
                    <xsd:annotation>
                        <xsd:documentation>
                            The Status Code of the HTTP response.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="100">
                        <xsd:annotation>
                            <xsd:documentation>
                                Continue
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="101">
                        <xsd:annotation>
                            <xsd:documentation>
                               Switching Protocol
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="200">
                        <xsd:annotation>
                            <xsd:documentation>
                                OK
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="201">
                        <xsd:annotation>
                            <xsd:documentation>
                               Created
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="202">
                        <xsd:annotation>
                            <xsd:documentation>
                                Accepted
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="203">
                        <xsd:annotation>
                            <xsd:documentation>
                               Non-Authoritative Information
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="204">
                        <xsd:annotation>
                            <xsd:documentation>
                                No Content
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="205">
                        <xsd:annotation>
                            <xsd:documentation>
                               Reset Content
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="100">
                        <xsd:annotation>
                            <xsd:documentation>
                                Continue
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="206">
                        <xsd:annotation>
                            <xsd:documentation>
                               Partial Content
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="300">
                        <xsd:annotation>
                            <xsd:documentation>
                                Multiple Choices
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="301">
                        <xsd:annotation>
                            <xsd:documentation>
                               Moved Permanently
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="302">
                        <xsd:annotation>
                            <xsd:documentation>
                                Found
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="303">
                        <xsd:annotation>
                            <xsd:documentation>
                               See Other
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="304">
                        <xsd:annotation>
                            <xsd:documentation>
                                Not Modified
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="305">
                        <xsd:annotation>
                            <xsd:documentation>
                               Use Proxy
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="307">
                        <xsd:annotation>
                            <xsd:documentation>
                                Temporary Redirect
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="400">
                        <xsd:annotation>
                            <xsd:documentation>
                               Bad Request
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="401">
                        <xsd:annotation>
                            <xsd:documentation>
                                Unauthorized
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="402">
                        <xsd:annotation>
                            <xsd:documentation>
                               Payment Required
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="403">
                        <xsd:annotation>
                            <xsd:documentation>
                                Forbidden
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="404">
                        <xsd:annotation>
                            <xsd:documentation>
                               Not Found
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="405">
                        <xsd:annotation>
                            <xsd:documentation>
                                Method Not Allowed
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="406">
                        <xsd:annotation>
                            <xsd:documentation>
                               Not Acceptable
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="407">
                        <xsd:annotation>
                            <xsd:documentation>
                                Proxy Authentication Required
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="408">
                        <xsd:annotation>
                            <xsd:documentation>
                               Request Timeout
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="409">
                        <xsd:annotation>
                            <xsd:documentation>
                                Conflict
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="410">
                        <xsd:annotation>
                            <xsd:documentation>
                               Gone
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="411">
                        <xsd:annotation>
                            <xsd:documentation>
                                Length Required
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="412">
                        <xsd:annotation>
                            <xsd:documentation>
                               Precondition Failed
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="413">
                        <xsd:annotation>
                            <xsd:documentation>
                                Request Entity Too Large
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="414">
                        <xsd:annotation>
                            <xsd:documentation>
                               Request-URI too long
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="415">
                        <xsd:annotation>
                            <xsd:documentation>
                                Unsupported Media Type
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="416">
                        <xsd:annotation>
                            <xsd:documentation>
                               Requested Range Not Satisfiable
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="417">
                        <xsd:annotation>
                            <xsd:documentation>
                                Expectation Failed
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="500">
                        <xsd:annotation>
                            <xsd:documentation>
                               Internal Server Error
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="501">
                        <xsd:annotation>
                            <xsd:documentation>
                                Not Implemented
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="502">
                        <xsd:annotation>
                            <xsd:documentation>
                               Bad Gateway
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="503">
                        <xsd:annotation>
                            <xsd:documentation>
                                Service Unavailable
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="504">
                        <xsd:annotation>
                            <xsd:documentation>
                               Gateway Timeout
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="300">
                        <xsd:annotation>
                            <xsd:documentation>
                                Multiple Choices
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="505">
                        <xsd:annotation>
                            <xsd:documentation>
                               HTTP Version Not Supported
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

</xsd:schema>
